* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-carousel {
    background: #FAFAFA;
    height: 50vh;

    .carousel-cell {
        width: 66%;
        height: 50vh;
        margin-right: 10px;
        background: #333;
    }

    img {
        display: block;
        width: auto;
        height: 50vh;
        margin: 0 auto;
        object-fit: cover;

    }

    h2 {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FAFAFA;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.22);
        padding: 20px;
        border-radius: 5px;
    }

    p:nth-of-type(1) {
        position: absolute;
        bottom: 80px;
        left: 10px;
        color: #FAFAFA;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.22);
        padding: 20px;
        border-radius: 5px;
    }

    p:nth-of-type(2) {
        position: absolute;
        bottom: 5px;
        left: 10px;
        color: #FAFAFA;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.22);
        padding: 20px;
        border-radius: 5px;
    }

    .flickity-page-dots {
        bottom: -40px;
    }

    .static-banner {
        position: absolute;
        background: hsla(0, 0%, 0%, 0.3);
        z-index: 1;
        padding: 2px 20px;
        font-size: 26px;
        color: white;
        pointer-events: none;
    }

    .static-banner1 {
        left: 10px;
        top: 10px;
    }

    .static-banner2 {
        right: 10px;
        bottom: 10px;
    }

}

.progress-bar {
    height: 20px;
    width: 0;
    background: rgb(164, 226, 223);
}

#map {
    height: 50vh;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    margin: 0 auto;
}

.pageWrapper {
    width: 80%;
    margin: 0 auto;
}